{% extends "layout.html" %}
{% block title %}Sign Up{% endblock %}
{% block body %}

	  
	  
  {% if error %}<div class="error"><strong>Error:</strong> {{ error }}</div>{% endif %}
  <link href="./static/signin.css" rel="stylesheet">
     <form class="form-signin" action="" method="POST">
 		<center>
 			<img class="mb-4" src="./static/images/icon.png" alt="" width="150" height="150">
 		</center>
 	  {% if error %}<div class="error"><strong>Error:</strong> {{ error }}</div>{% endif %}
	  
       <h1 class="h3 mb-3 font-weight-normal">Please, sign up first!</h1>
       <label for="username" class="sr-only">Username</label>
       <input type="text" id="username" class="form-control" placeholder="Username" required autofocus>
       <label for="email" class="sr-only">E-Mail</label>
       <input type="text" id="email" class="form-control" placeholder="E-Mail" required><br>
       <label for="password" class="sr-only">Password</label>
       <input type="password" id="password" class="form-control" placeholder="Password" required>
       <label for="password2" class="sr-only">Repeat it!</label>
       <input type="password" id="password2" class="form-control" placeholder="Password repeat" required>
       <button class="btn btn-lg btn-primary btn-block" type="submit" value="Sign Up">Sign Up</button>
     </form>

{% endblock %}
